In [37]:
# Pandas Dataframes
import pandas as pd
import numpy as np

In [38]:
df = pd.DataFrame({'Legs': [2, 4, 8, 0],
                   'Wings': [2, 0, 0, 0],
                   'Specimen': [10, 2, 1, 8]},
                  index=['Falcon', 'Dog', 'Spider', 'Fish'])

In [39]:
df.dtypes

Legs        int64
Wings       int64
Specimen    int64
dtype: object

In [40]:
df

        Legs  Wings  Specimen
Falcon     2      2        10
Dog        4      0         2
Spider     8      0         1
Fish       0      0         8

In [41]:
df.columns

Index(['Legs', 'Wings', 'Specimen'], dtype='object')

In [42]:
df.Legs

Falcon    2
Dog       4
Spider    8
Fish      0
Name: Legs, dtype: int64

In [43]:
df.describe()

          Legs  Wings   Specimen
count  4.00000    4.0   4.000000
mean   3.50000    0.5   5.250000
std    3.41565    1.0   4.425306
min    0.00000    0.0   1.000000
25%    1.50000    0.0   1.750000
50%    3.00000    0.0   5.000000
75%    5.00000    0.5   8.500000
max    8.00000    2.0  10.000000

In [50]:
df.loc['Falcon']
# gives me this row bracket's are important as we are entually searching in python..
#

Legs         2
Wings        2
Specimen    10
Name: Falcon, dtype: int64

In [49]:
df.iloc[-1]
#   give me the sequenticial postion row... that last

Legs        0
Wings       0
Specimen    8
Name: Fish, dtype: int64

In [55]:
df['Legs']
# give me this answers

Falcon    2
Dog       4
Spider    8
Fish      0
Name: Legs, dtype: int64

In [66]:
df.loc['Falcon' : 'Dog', 'Legs']
#  if ever accessing the row we should use the "loc" key words.

Falcon    2
Dog       4
Name: Legs, dtype: int64