In [56]:
# Pandas Series...
import pandas as pd
#  Numpy is requried to using any scient cal.
#  fundaments of DA
import numpy as np

In [57]:
#   Getting Data from Databases, Excel files, CSV files.

In [58]:
#   combining data, visulaiting the data with pandas, creating reports, ML everything from pandas...
#   again most importat

In [59]:
#  pandas are two data frames Series and ~Excel tables..

In [60]:
g7_pop = pd.Series([35.3493,23.45343,53.2323,232.232,234.232], index = ['India', 'Autraila', 'London', 'Paris', 'NY'])
print(g7_pop)
#  default pandas are having Range index

India        35.34930
Autraila     23.45343
London       53.23230
Paris       232.23200
NY          234.23200
dtype: float64

In [61]:
g7_pop.name = "Gobal Population"

In [62]:

g7_pop.dtype

dtype('float64')

In [63]:
# with index now we can consult with the with the name rather with number...
g7_pop['India']
g7_pop['NY']

234.232

In [68]:
# Slicing with pandas
g7_pop['India': 'NY']
#  here unlike np the late on is included
#   here we has said from india to NY

India        35.34930
Autraila     23.45343
London       53.23230
Paris       232.23200
NY          234.23200
Name: Gobal Population, dtype: float64

In [64]:
g7_pop

India        35.34930
Autraila     23.45343
London       53.23230
Paris       232.23200
NY          234.23200
Name: Gobal Population, dtype: float64

In [65]:
g7_pop.values

array([ 35.3493 ,  23.45343,  53.2323 , 232.232  , 234.232  ])

In [66]:
g7_pop[1]
#  give me firt element

23.45343

In [70]:
g7_pop[g7_pop>45]
#   here initially the inner box is solved with got the values of true and false, but later the values converted into number with help of brackets

London     53.2323
Paris     232.2320
NY        234.2320
Name: Gobal Population, dtype: float64